[Desktop Entry]
Name=TheRob
Name[de]=TheRob
Name[fr]=TheRob
Name[sv]=TheRob
Comment=The classic decoration known from Mandriva
Comment[de]=Die klassische Dekoration aus Mandriva
Comment[fr]=La décoration classique connue depuis Mandriva
Comment[sv]=Den klassiska dekorationen känd från Mandriva

X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Name=kwin4_decoration_qml_therob
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Decoration
X-KWin-Config-TranslationDomain=kwin_clients
Type=Service

